@import "../../../../scss/mixins.scss";

.login-page {
    width: 100%;
    height: 100%;

    @include element (block) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}
