@import "../../../../scss/colors.scss";
@import "../../../../scss/variables.scss";
@import "../../../../scss/mixins.scss";

.form {
    @include content-block;
    height: 100%;

    @include element (header-wrapper) {
        width: 100%;
        padding-bottom: $container-padding;
    }
    @include element (body-wrapper) {
        width: 100%;
    }
    @include element (footer-wrapper) {
        width: 100%;
        padding-top: $container-padding;
    }
}
