@import "../../../../../scss/colors.scss";
@import "../../../../../scss/variables.scss";
@import '../../../../../scss/mixins.scss';

.user {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    @include element (user-login) {
        @include description-text;
        height: 18px;
        color: $secondary-font-color;
        background-image: url('../../../../../assets/icons/person.svg');
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center left;
        background-size: 18px;
        padding: 0 0 0 20px;
    }
    @include element (button) {
        @include description-text;
        height: 18px;
        color: $secondary-font-color;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: center left;
        background-size: 18px;
        border: none;
        padding: 0 0 0 20px;

        // &:hover {
        //     color: $btn-tertiary-hover-color;
        // }
        &:focus {
            box-shadow: none;
        }
        &:not(:first-child) {
            margin-left: $container-margin;
        }
        @include modif (logout) {
            background-image: url('../../../../../assets/icons/logout.svg');
        }
    }
}
