<div class="courses-page">
    <div class="courses-page__action-bar">
        <app-search-bar class="courses-page__action-bar--search"></app-search-bar>
        <a class="button courses-page__button">
            Add course
        </a>
    </div>
    <div *ngIf="coursesData.length" class="courses-page__list-wrapper">
        <div class="courses-page__list">
            <app-course-item
                *ngFor="let courseItem of coursesData"
                class="courses-page__list-item"
                [courseItem]="courseItem"
                (deleteCourse)="deleteCourse($event)"
            ></app-course-item>
        </div>
        <div class="courses-page__load-more-block"
            (click)="handleLoadMore()">
            <a class="courses-page__load-more">
                Load more
            </a>
        </div>
    </div>
</div>
