<div class="courses-page">
    <div class="courses-page__action-bar-wrapper">
        <div class="courses-page__action-bar">
            <app-search-bar class="courses-page__action-bar--search"
                (eventSearch)="filterCourses($event)"
            ></app-search-bar>
            <div class="courses-page__actions-wrapper">
                <div class="courses-page__actions">
                    <a class="button courses-page__button"
                        routerLink="new"
                    >Add course</a>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="coursesList.length" class="courses-page__list-wrapper">
        <div class="courses-page__list">
            <app-course-item
                *ngFor="let course of coursesList | orderBy: 'creationDate'"
                class="courses-page__list-item"
                [courseItem]="course"
                (deleteCourse)="deleteCourse($event)"
            ></app-course-item>
        </div>
        <div class="courses-page__load-more-wrapper"
            (click)="handleLoadMore()">
            <div class="courses-page__load-more">
                <a class="link">Load more</a>
            </div>
        </div>
    </div>
    <div *ngIf="!coursesList.length" class="courses-page__not-data-wrapper">
        <div class="courses-page__not-data">
            <h3 class="courses-page__not-data--title">
                No data
            </h3>
            <span class="courses-page__not-data--description">
                Feel free to add new course
            </span>
        </div>
    </div>
</div>
