@import "../../../../scss/colors.scss";
@import "../../../../scss/variables.scss";
@import "../../../../scss/mixins.scss";

.courses-page {
    width: 100%;
    height: 100%;

    @include element (action-bar-wrapper) {
        width: 100%;
        height: 66px;
        margin-bottom: 17px;
    }
    @include element (action-bar) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 100%;

        @include modif (search) {
            align-self: flex-start;
        }
    }
    @include element (list-wrapper) {
        width: 100%;
    }
    @include element (not-data-wrapper) {
        width: 100%;
        height: calc(100% - 66px);
    }
    @include element (list) {
        width: 100%;
    }
    @include element (list-item) {
        display: block;

        &:not(:first-child) {
            margin-top: $container-margin;
        }
    }
    @include element (load-more-wrapper) {
        @include content-block;
        height: 36px;
        padding: 0;
        margin-top: $container-margin;
        cursor: pointer;

        &:hover {
            box-shadow: $container-hover-box-shadow;
            transition: all .1s ease;

            .link {
                text-decoration: none;
            }
        }
    }
    @include element (load-more) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
    @include element (not-data) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        @include modif (title) {
            @include content-title;
            font-size: 30px;
        }
        @include modif (description) {
            @include content-text;
            font-size: 20px;
        }
    }
    @include element (actions-wrapper) {
       padding-left: 12px;
    }
    @include element (actions) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
    }
    @include element (button) {
        color: $btn-tertiary-text-color;
        background-color: $btn-tertiary-color;
        background-image: url('../../../../assets/icons/add.svg');
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: 8px center;
        border-color: $btn-tertiary-color;
        padding: 0 12px 0 33px;

        &:hover {
            background-color: $btn-tertiary-hover-color;
            border-color: $btn-tertiary-hover-color;
        }
    }
}
