@import "../../../../../scss/colors.scss";
@import "../../../../../scss/variables.scss";
@import "../../../../../scss/mixins.scss";

.confirmation-modal {
    @include modal-block;
    width: 370px;
    min-width: 370px;
    min-height: 194px;

    @include element (block) {
        display: flex;
        flex-direction: column;
    }
    @include element (header-wrapper) {
        padding: 19px $container-padding;
        border-bottom: 1px solid $modal-border-color;
    }
    @include element (header) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    @include element (body-wrapper) {
        padding: 19px $container-padding 28px;
    }
    @include element (body) {
        flex-grow: 1;
    }
    @include element (footer-wrapper) {
        padding: 12px $container-padding;
        border-top: 1px solid $modal-border-color;
    }
    @include element (footer) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    @include element (title) {
        @include content-text;
        font-size: 18px;
        font-weight: 600;
    }
    @include element (close) {
        width: 14px;
        height: 14px;
        min-width: 14px;
        background: url('../../../../../assets/icons/close.svg');
        background-repeat: no-repeat;
        background-size: 14px;
        background-position: center;
        cursor: pointer;
    }
    @include element (description) {
        @include content-text;
        font-size: 14px;
        line-height: 24px;
    }
    @include element (button) {
        padding: 0 12px;
    }
}
