@import "../../../../scss/colors.scss";
@import "../../../../scss/mixins.scss";

.breadcrumps {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    @include element (list) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    @include element (link) {
        color: $breadcrumps-font-color;
        font-size: 14px;
        font-weight: 700;
        text-transform: capitalize;
    }
}
