@import "../scss/colors.scss";
@import "../scss/variables.scss";
@import "../scss/mixins.scss";

.root-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-width: $page-min-width;
    background-color: $app-bg-color;

    @include element (header-wrapper) {
        @include main-wrapper;
        height: $header-height;
        background-color: $secondary-bg-color;
    }
    @include element (header) {
        width: 100%;
        height: 100%;
        max-width: $page-width;
    }
    @include element (main) {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex: 1;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
    @include element (footer-wrapper) {
        @include main-wrapper;
        height: $footer-height;
        position: sticky;
        bottom: 0;
        background-color: $secondary-bg-color;
    }
    @include element (footer) {
        width: 100%;
        height: 100%;
        max-width: $page-width;
    }
    @include element (breadcrumps-wrapper) {
        @include main-wrapper;
        height: $breadcrumps-height;
    }
    @include element (breadcrumps) {
        width: 100%;
        height: 100%;
        max-width: $page-width;
    }
    @include element (content-wrapper) {
        @include main-wrapper;
        flex: 1;
        background-color: $primary-bg-color;

    }
    @include element (content) {
        width: 100%;
        height: 100%;
        max-width: $page-width;
        padding: 21px 0;
    }
}
