<app-loader></app-loader>
<app-modals-overlay></app-modals-overlay>
<div class="root-wrapper">
    <header class="root-wrapper__header-wrapper">
        <div class="root-wrapper__header">
            <app-header></app-header>
        </div>
    </header>
    <main class="root-wrapper__main">
        <div *ngIf="(authSrv.isAuthenticated$ | async) && router.url !== '/404'"
            class="root-wrapper__breadcrumbs-wrapper">
            <div class="root-wrapper__breadcrumbs">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
        </div>
        <div class="root-wrapper__content-wrapper">
            <div class="root-wrapper__content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </main>
    <footer class="root-wrapper__footer-wrapper">
        <div class="root-wrapper__footer">
            <app-footer></app-footer>
        </div>
    </footer>
</div>
