<div class="root-wrapper">
    <header class="root-wrapper__header">
        <section class="root-wrapper__header-wrapper">
            <app-header></app-header>
        </section>
    </header>
    <main class="root-wrapper__main">
        <section class="root-wrapper__breadcrumps">
            <div class="root-wrapper__breadcrumps-wrapper">
                <app-breadcrumps></app-breadcrumps>
            </div>
        </section>
        <section class="root-wrapper__content">
            <div class="root-wrapper__content-wrapper">
                <div class="root-wrapper__content-block">
                    <app-courses-page></app-courses-page>
                </div>
            </div>
        </section>
    </main>
    <footer class="root-wrapper__footer">
        <section class="root-wrapper__footer-wrapper">
            <app-footer></app-footer>
        </section>
    </footer>
</div>
