<div *ngIf="form" class="course-form">
    <app-form [form]="form">
        <div header class="form__header">
            <h2 class="form__title">{{ titleForm$ | async }}</h2>
            <app-form-error [form]="form"></app-form-error>
        </div>
        <div body class="form__body">
            <app-input-field
                [control]="form.get('title')"
                title="title"
                placeholder="Text input"
            ></app-input-field>
            <app-textarea-field
                [control]="form.get('description')"
                title="description"
                placeholder="Add description"
            ></app-textarea-field>
            <app-time-field
                [control]="form.get('duration')"
                title="duration"
                placeholder="minutes"
            ></app-time-field>
            <app-date-field
                [control]="form.get('creationDate')"
                title="date"
            ></app-date-field>
            <app-authors-field
                [control]="form.get('authors')"
                title="authors"
                placeholder="Start typing"
            ></app-authors-field>
        </div>
        <div footer class="form__footer">
            <button class="button button--primary"
                type="button"
                [disabled]="form.invalid"
                (click)="handleSave()"
            >Save</button>
            <a class="button button--secondary"
                routerLink="/courses"
            >Cancel</a>
        </div>
    </app-form>
</div>
