@import "../../../../../scss/colors.scss";
@import "../../../../../scss/mixins.scss";

.search-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @include element (input) {
        width: 240px;
        height: 36px;
        background: $input-bg-color;
        border: 1px solid $input-border-color;
        color: $primary-font-color;
        border-radius: 3px;
        padding: 0 12px;

        &::placeholder {
            color: $input-placeholder-text-color;
            font-size: 14px;
            font-weight: 400;
        }
    }
    @include element (button) {
        text-transform: capitalize;
        padding: 0 17px;
        margin-left: 12px;
    }
}
