@import "../../../../../scss/colors.scss";
@import "../../../../../scss/mixins.scss";

.search-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    @include element (input) {
        width: 240px;
    }
    @include element (button) {
        text-transform: capitalize;
        padding: 0 17px;
    }
}
