@import "../../../../scss/colors.scss";
@import "../../../../scss/mixins.scss";

.modals-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: $modal-owerlay-bg-color;

    @include element (wrapper) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}
