@import "../../../../scss/colors.scss";
@import "../../../../scss/variables.scss";
@import '../../../../scss/mixins.scss';

.logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    @include element (image) {
        height: $logo-size;
        width: $logo-size;
        background-image: url('../../../../assets/icons/logo.svg');
        background-repeat: no-repeat;
        background-size: $logo-size;
    }
    @include element (title) {
        color: $secondary-font-color;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 700;
        margin-left: 12px;
    }
}
