.button {
    @include button-text;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 36px;
    min-width: max-content;
    border-radius: 3px;
    border: 1px solid;
    padding: 0 17px;
    cursor: pointer;
    outline: none;

    &:not(:first-child) {
        margin-left: 12px;
    }
    @include modif (primary) {
        background-color: $btn-primary-color;
        border-color: $btn-primary-color;

        &:disabled {
            background-color: $btn-disabled-primary-color;
            border-color: $btn-disabled-primary-color;
            color: $btn-disabled-primary-text-color;
        }
    }
    @include modif (secondary) {
        background-color: $secondary-color;
        border-color: $btn-secondary-border-color;
        color: $btn-secondary-text-color;
    }
}
