@import "./colors.scss";

.button {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 36px;
    min-width: max-content;
    border-radius: 3px;
    border: 1px solid;
    color: $btn-primary-text-color;
    font-size: 14px;
    padding: 0 17px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    outline: none;

    @include modif (primary) {
        background-color: $btn-primary-bg-color;
        border-color: $btn-primary-bg-color;
    }
}
