$app-bg-color: #FFFFFF;

$primary-bg-color: #F5F6FA;
$primary-font-color: #474A59;

$secondary-bg-color: #303240;
$secondary-font-color:#FFFFFF;

$input-bg-color: #FFFFFF;
$input-border-color:  #CED0DB;
$input-placeholder-text-color: #ACAFBF;

$btn-primary-bg-color: #67A300;
$btn-primary-text-color: #FFFFFF;

$link-font-color: #5681EE;

$title-font-color: #333333;

$container-bg-color: #FFFFFF;
$container-box-shadow: 0 1px 2px 0 rgba(29,30,38,0.10), 0 2px 10px 0 rgba(29,30,38,0.15);

$breadcrumps-font-color: #464A5A;

$course-btn-bg-color: #009ECC;
$course-btn-text-color: #FFFFFF;
$course-info-font-color: #858997;
$course-fresh-border-color: #858997;
$course-upcoming-border-color: #2980b9;
