$app-bg-color: #FFFFFF;

$secondary-color: #FFFFFF;

$primary-bg-color: #F5F6FA;
$primary-font-color: #474A59;

$secondary-bg-color: #303240;
$secondary-font-color:#FFFFFF;

$error-text-color: #FF4E33;

$input-border-color: #CED0DB;
$input-hover-border-color: #6C6F80;
$input-focus-border-color: #007799;
$input-placeholder-text-color: #ACAFBF;
$input-invalid-border-color: #F15C43;
$input-invalid-hover-border-color: #D84831;
$input-invalid-focus-border-color: #c93c26;
$input-invalid-focus-box-shadow: 0 0 0 2px rgba(220, 91, 71, 0.4);

$btn-primary-color: #67A300;
$btn-primary-text-color: #FFFFFF;
$btn-primary-hover-color: #558a00;
$btn-disabled-primary-color: #E1E3EB;
$btn-disabled-primary-text-color: #A8A9B4;

$btn-secondary-border-color: #ACAFBF;
$btn-secondary-text-color: #6C6F80;

$btn-tertiary-color: #009ECC;
$btn-tertiary-text-color: #FFFFFF;
$btn-tertiary-hover-color: #008ABD;

$btn-focus-box-shadow: 0 0 0 2px rgba(48, 182, 221, 0.4);

$link-font-color: #5681EE;

$title-font-color: #333333;

$container-box-shadow: 0 1px 2px 0 rgba(29, 30, 38, 0.05), 0 3px 10px 0 rgba(29, 30, 38, 0.1);
$container-hover-box-shadow: 0 4px 14px 0 rgba(29, 30, 38, 0.15);

$breadcrumbs-font-color: #868996;
$breadcrumbs-active-font-color: #464A5A;

$course-info-font-color: #858997;
$course-fresh-border-color: #858997;
$course-upcoming-border-color: #2980B9;

$modal-owerlay-bg-color: rgba(29, 30, 38, 0.7);
$modal-border-color: #9295A1;
$modal-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

$loader-bg-color: #30b6dd;
