app-form-field {

    &:not(:first-child) {
        display: block;
        margin-top: 12px;
    }
}

.link {
    @include link-text;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

// Change Autocomplete styles
input:-webkit-autofill,
input:-webkit-autofill::first-line,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected {
    // Google Chrome
    @include content-text;
    font-size: 14px;
    box-shadow: inset 0 0 0 50px $secondary-color;
}
input:-webkit-autofill:focus {
    box-shadow: inset 0 0 0 50px $secondary-color, $btn-focus-box-shadow;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
