.input {
    @include default-input;

    @include element (wrapper) {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    @include element (block) {

        @include modif (short) {
            display: flex;
            width: 150px;
            max-width: 150px;
        }
        @include modif (middle) {
            width: 312px;
            max-width: 312px;
        }
    }
    @include element (description) {
        @include input-description;
        display: flex;
        align-items: center;
        min-height: $input-height;
        padding-left: 19px;
    }
}

.textarea {
    @include default-input;
    height: auto;
    padding: 9px 12px;
    resize: none;
}

.input[type="date"] {

    &::placeholder {
        @include input-placeholder;
    }
}
