@mixin element ($element) {
    &__#{$element} {
        @content;
    };
}

@mixin modif ($modif) {
    &--#{$modif} {
        @content;
    };
}

@mixin default-text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: normal;
}

@mixin logo-title {
    color: $secondary-font-color;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
}

@mixin description-text {
    font-size: 14px;
    font-weight: 400;
}

@mixin content-title {
    color: $title-font-color;
    font-weight: 600;
}

@mixin content-text {
    @include default-text;
    color: $primary-font-color;
    font-weight: 400;
}

@mixin input-text {
    @include content-text;
    font-size: 14px;
    caret-color: $primary-font-color;
}

@mixin input-placeholder {
    color: $input-placeholder-text-color;
    font-size: 14px;
    font-weight: 400;
}

@mixin button-text {
    @include default-text;
    color: $btn-primary-text-color;
    font-size: 14px;
    font-weight: 600;
    user-select: none;
}

@mixin link-text {
    @include default-text;
    color: $link-font-color;
    font-weight: 400;
}

@mixin main-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}

@mixin content-block {
    width: 100%;
    background-color: $secondary-color;
    border-radius: $container-border-radius;
    box-shadow: $container-box-shadow;
    padding: $container-padding;
    transition: all .25s ease;
}

@mixin modal-block {
    background-color: $secondary-color;
    border-radius: $container-border-radius;
    box-shadow: $modal-box-shadow;
}

@mixin default-input {
    @include input-text;
    width: 100%;
    height: 36px;
    background: $secondary-color;
    border: 1px solid $input-border-color;
    border-radius: $input-border-radius;
    padding: 0 12px;

    &:hover {
        border-color: $input-hover-border-color;
    }
    &:focus {
        border-color: $input-focus-border-color;
        box-shadow: $btn-focus-box-shadow;
    }
    &::placeholder {
        @include input-placeholder;
    }
}
