@mixin element ($element) {
    &__#{$element} {
        @content;
    };
}

@mixin modif ($modif) {
    &--#{$modif} {
        @content;
    };
}

@mixin main-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}
