$page-width: 1290px;
$page-min-width: 1024px;
$header-height: 60px;
$breadcrumps-height: 64px;
$footer-height: 60px;
$logo-size: 28px;

$container-border-radius: 6px;
$container-padding: 24px;
$container-margin: 24px;

$input-border-radius: 3px;
