@import "../../../../../scss/colors.scss";
@import "../../../../../scss/variables.scss";
@import "../../../../../scss/mixins.scss";

.course-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $container-bg-color;
    border-radius: $container-border-radius;
    box-shadow: $container-box-shadow;
    padding: $container-padding;

    @include element (header-block) {
        margin-bottom: 8px;
    }
    @include element (header) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }
    @include element (content) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    @include element (title-block) {
        margin-right: auto;
    }
    @include element (info-block) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
    @include element (description-block) {
        width: 100%;
        height: 100%;
    }
    @include element (action-block) {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }
    @include element (title) {
        color: $title-font-color;
        font-size: 24px;
        font-weight: 600;
    }
    @include element (info) {
        min-width: max-content;
        color: $course-info-font-color;
        font-size: 14px;
        font-weight: 400;
        background-repeat: no-repeat;
        background-position: center left;
        background-size: 16px;
        background-position: left center;
        padding-left: 23px;

        &:not(:first-child) {
            margin-left: $container-margin;
        }

        @include modif (clock) {
            background-image: url('../../../../../assets/icons/clock.svg');
        }
        @include modif (date) {
            background-image: url('../../../../../assets/icons/calendar.svg');
        }
    }
    @include element (description) {
        color: $primary-font-color;
        font-size: 14px;
        font-weight: 400;
    }
    @include element (button) {
        height: 24px;
        font-size: 12px;
        color: $course-btn-text-color;
        text-transform: capitalize;
        background-color: $course-btn-bg-color;
        border-color: $course-btn-bg-color;
        padding: 0 12px 0 27px;
        background-repeat: no-repeat;
        background-position: center left;
        background-size: 10px;
        background-position: 10px center;

        &:first-child {
            margin-left: 40px;
        }
        &:not(:first-child) {
            margin-left: 12px;
        }

        @include modif (edit) {
            background-image: url('../../../../../assets/icons/edit.svg');
        }
        @include modif (delete) {
            background-image: url('../../../../../assets/icons/delete.svg');
        }
    }
}
