<div *ngIf="control" class="form-field">
    <div class="form-field__header-wrapper">
        <div class="form-field__header">
            <label *ngIf="title" class="form-field__label"
                for="{{ title }}"
            >{{ title }}:</label>
            <span *ngIf="(!control.value || !control.value.length) && control.invalid &&
                isRequired && control.touched"
                class="form-field__required"
            >* required</span>
        </div>
    </div>
    <div class="form-field__body">
        <ng-content></ng-content>
    </div>
</div>
